.square{
  background: white;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
}

.square:focus{
  outline: none;
}
 
header{
  margin-top: 40px;
  text-align: center;
  
} 

.board-row:after{
  clear:both;
  content: "";
  display: table;
  
}
.game{
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%,-50%);
  flex-direction: row;
  margin: 0 auto;

}

ul{
  padding-left: 30px;
}

.game-info{
  margin-left: 20px;
}

.status{
  margin-bottom: 10px;
}

