.square{
  background: white;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding 0;
  text-align: center;
  font-size: 50px;
  line-height: 90px;
  font-weight: bold;
}

.gameboard{
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

h1{
  text-align: center;
  margin-right: 150px;
  margin-left: 73px;
}

.boarder-row{
  clear:both;
  content: "";
  display: table;
  
}
